/*external css/ external styling*/
 /*inline=100
 internal=50
 external 10*/

 /*specificity
 	selectors
 		-id
 		-class
 		-combinators*/
 /*Relative Lengths
 	% unit of percentage
 	em relative to the current fontsize
 	rem relative to current fontsize on the HTML Element
 	vw relative to the width veiwpoint divided by 100
 	vh relative to the height viewpoint divided */
 /*Absolute Lenghts
 	lenghts do not change
 		px unit pixels
 		in unit inches
 		pt unit points*/

/*Universal Selector- allows us to select all of out element*/
/*All elements will now have a font stlye of Courier New and the default will be about 20px
Monospace is a fall fallback font.*/

body{
	background-color: lightpink;
}

html{
	scroll-behavior: smooth;
}

nav{
	background-color: white;
}

h1{
	color:  black !important;
	text-align: center;
	font-size: 2rem;
}
*{
	font-family: "Courier New", monospace;
	font-size: 20px;
	margin: 0;
	padding: 0;

	/*CSS Reset*/
}

/*selectors - used */
h1{ 
	color: hotpink;
}

section {
	height: 100vh;
	text-align: center;
}

#zuitt-motto{
	letter-spacing: 5px;
}

h2{ 
	font-size: 1.5 rem; }

 /*id selectors*/

.offering-item{
	text-transform: uppercase;
}

/*attribute allows yo select particular elements with same attribute*/
/*tagname[attribute]
	border-width thickness of element's border
	border style:  style of border
	border-color:  border color*/

input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: hotpink;
	width: 90%;
}

/*adjacent sibling Selector*/
	/*selector + selector*/

#zuitt-motto + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*Descendant*/
	/*#[id name] li*/
#bootcamp-learning-list li{
	color:  darkblue;
}

/*General Sibling Selector
	/*sibling~sibling*/
/*

h2 ~ a {
	text-decoration: none;
}*/
a {
	text-decoration: none;
}

/*register section*/

form{
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height:  185px;
	width: 25vw;
	position: relative;
	left: 37%;
}

/*Child Selector*/
	/*parent > child*/

section > form > label{
	color:  rgb(0, 0, 128);
}

button {
	background-color: #cf0053;
	color: white ;
	border-radius: 15px;
	border: 0;
	padding: 3px;
	margin-top: 3px;
}
