* {
	font-family: Verdana, sans-serif;
	font-size: 20px;

}

h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
	text-transform: uppercase;
}

body{
	background-color: white;
}

#start {
	text-transform: uppercase;
}

#services {
	text-transform: uppercase;
}

#aboutus1 {
	text-transform: uppercase;
}

.offering-item {
	background: lightpink;
}

.whatsnew {
	border-color: lightgray;
	border-style: solid;
	border-width: 2px;
}

ol {
	
	list-style: none;
}

section {
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   }

 section > div > ol {
 	letter-spacing: 10px;
 }

 form {
 	text-align: center;

 }

section > div> img {
	height: 500px;
	width: 500px;
}

